{% extends 'navigation.html' %}
{% load static %}

{% block body %}


    <!-- About Yourself Section -->
    <div class="about-container container rounded-4">
      <section id="about">
        <div class="row col-m-12">
          <div class="col-5 img-fluid p-5 mt-5 d-flex justify-content-center">
            <img
              class="about-img img-fluid rounded-5"
               src="{% static 'images/img6.jpg' %}"
              alt=""
            />
          </div>
       <div class="col-7 p-5 mt-5 justify-content">
    <h1>About Me</h1>
    <p class="descrip-about">
        I am a versatile Web Developer with a passion for driving technological advancements. I am dedicated to delivering solutions that enhance web content management, web development, E-Learning support, and data analysis.
    </p>

    <p class="descrip-about">
        My commitment extends to fostering collaborative relationships, effective communication, and staying at the forefront of technological advancements. I am always prepared to excel in new opportunities and make a meaningful impact in the dynamic field of information technology.
    </p>
</div>

        </div>
      </section>
    </div>

{% endblock %}