 body {
      font-family: "Roboto slab", serif;

      background-color: rgb(6, 3, 46);
    }

    .main-nav {
      color: rgb(3, 5, 25);
      font-weight: bolder;
    }
    .opening {
      height: 85vh;
    }
    .navbar-brand {
      font-size: 30px;
      padding-left: 60px;
    }
    .navbar-nav {
      font-size: 17px;
      justify-content: end;
      font-weight: bold;
      color: rgb(6, 3, 46);
    }
    .btn-resume {
      font-size: 17px;
    }
    .carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      z-index: -1;
    }
    .profile {
      width: 400px;
      height: 300px;
      object-fit: cover;
      border-radius: 10%;
    }
    .prof-desc {
      font-size: 65px;
    }
    .about-container {
      height: 90vh;
      background-color: white;
      color: rgb(6, 3, 46);
    }
    .descrip-about {
      font-size: 18px;
    }
    .about-img {
      width: 500px;
      object-fit: cover;
    }

    .service-container {
      height: 210vh;
    }

    .contact-container {
      background-color: white;
      height: 85vh;
    }
    .contact-title {
      padding-left: 35px;
    }
    .map {
      margin-left: 15px;
      border-radius: 20px;
    }
    .social-icons {
      display: flex;
      align-items: center;
    }

    .social-icon {
      font-size: 24px;
      margin: 0 10px;
    }
    footer {
      border-top: 0.1px solid rgb(26, 149, 225);
    }